@font-face {
    font-family: "Mesmerize";
    src: url("mesmerize-rg-webfont.woff") format('woff');
}

@font-face {
    font-family: "Mesmerize";
    src: url("mesmerize-bd-webfont.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Mesmerize";
    src: url("mesmerize-rg-it-webfont.woff") format('woff');
    font-style: italic;
}
